.bejik{
    margin-top: 1rem;
}

.main{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin-top: 1rem;
      
}
.katak{
    margin-top: 2rem;
}